<div class="w-100">

    <div class="d-flex justify-content-between">
        <h3 class="table-title1">Lista de confirmados</h3>
        <h3 class="table-title2">Total: {{ total }}</h3>
    </div><br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Convidado</th>
                <th scope="col">Acompanhante</th>
            </tr>
        </thead>
        <tbody *ngFor="let c of listaConfirmados">
            <tr>
                <th scope="row">{{ c.id }}</th>
                <td>{{ c.nome_convidado }}</td>
                <td>{{ c.nome_acompanhante }}</td>
            </tr>
        </tbody>
    </table>

</div>