<div class="cnv-w-90">
    <div class="section-photo">
        <div class="circle-photo img-circle-photo"></div>
    </div>
    <div class="section-nomes">
        <h1 class="text-white">Eduarda e Eduardo</h1>
    </div>
    <div class="section-data">
        <p class="text-data-1">A SER REALIZADO NO DIA</p>
        <p class="data-casamento">18 - JANEIRO - 2020</p>
        <p class="text-data-2">ÀS 19:00</p>
    </div>
    <div class="section-confirma">
        <button class="btn-confirma" (click)="formulario()">Confirmar presença</button>
    </div>
    <div class="section-endereco">
        <!-- <p class="title-cerimonia m-bottom-6">*LOCAL CERIMONIA:</p> -->
        <p class="text-igreja m-bottom-6">IGREJA ASSEMBLEIA DE DEUS</p>
        <p class="text-data-2 m-bottom-6">R. Erildo Costa Matos, 90, Jesus de Nazareh</p>
        <p class="text-data-2 m-bottom-6">Vitória - ES</p>
    </div>
</div>
