/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body .convite {
    width: 90%;
    margin: auto;
    // background-color: aquamarine;
    padding: 20px;
}
.m-bottom-0 {
    margin-bottom: 0px;
}
.m-bottom-2 {
    margin-bottom: 2px;
}
.m-bottom-4 {
    margin-bottom: 4px;
}
.m-bottom-6 {
    margin-bottom: 6px;
}
// @media screen and (min-width: 310px) and (max-width: 425px) {
//     body .convite {
//         width: 90%;
//         margin: auto;
//         padding: 20px;
//         margin-top: 35%;
//     }
// }