/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body .convite {
    width: 90%;
    margin: auto;
    // background-color: aquamarine;
    padding: 20px;
}