<div class="w-90">
    <div class="section-photo">
        <div class="circle-photo img-circle-photo"></div>
    </div>
    <div class="formulario">
        <div class="form-group">
            <label class="l-form">Nome completo: </label>
            <input type="text" class="i-form">
        </div>
        <div class="form-group">
            <button class="btn-addmais f-right" title="Mais campos" (click)="addInputs()">
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>
    <div class="section-confirmar">
        <button class="btn-cancelar" (click)="cancelarPresenca()">Cancelar</button>
        <button class="btn-confirma" (click)="confirmarPresenca()">Confirmar</button>
    </div>
</div>